<div class="bs-docs-section">
  <div class="page-header">
    <h1 id="team">Core team</h1>
  </div>
  <p class="lead">Scale-Out Agile is maintained by the founding team, with the massive support and involvement of our community.</p>
  <div class="list-group bs-team">
    <div class="list-group-item">
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=arlobelshee&amp;type=follow"></iframe>
      <a class="team-member" href="https://github.com/arlobelshee">
        <img src="http://www.gravatar.com/avatar/6995191364b77794684fbf3a3d6dacd7" alt="@arlobelshee">
        <strong>Arlo Belshee</strong> <small>@arlobelshee</small>
      </a>
    </div>
  </div>
  <p>Get involved with Scale-Out Agile by <a href="https://github.com/Scale-Out-Agile/Scale-Out-Agile.github.io/issues/new">opening an issue</a> or submitting a pull request.</p>
</div>